.imageUpload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 9px;
	background: #6b6b6b;
	border: 4px solid #e1e1e1;
	border-radius: 100%;
	width: 150px;
	height: 150px;
}
