@use "../../shared/styles/mixins";
.settingsForm {
	display: flex;
	align-items: flex-start;
	gap: 111px;
	justify-content: center;
	margin-top: 26px;

	@include mixins.lg {
		gap: 30px;
	}

	@include mixins.sm {
		flex-direction: column;
		align-items: center;
	}

	&__accordions {
		max-width: 450px;
		flex: 1;

		@include mixins.sm {
			max-width: unset;
			width: 100%;
		}
	}

	&__accordion {
		background: var(--accent-color) !important;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
