{
  "trailingComma": "none",
  "useTabs": true,
  "semi": false,
  "tabWidth": 4,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
 
}
