@use "../../shared/styles/mixins";

.userStepInfo {
	&__items {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		flex: 1;
		width: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 20px;
		width: 100%;

		@include mixins.lg {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		padding: 20px 0;
		border-bottom: 1px solid gray;
		display: flex;
		gap: 20px;
		align-items: center;
		justify-content: space-between;

		&-date {
			max-width: unset !important;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 18px;

		@include mixins.sm {
			font-size: 14px;
		}

		p {
			@include mixins.vsm {
				display: none;
			}
		}
	}

	&__value {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 18px;

		@include mixins.sm {
			font-size: 14px;
		}

		input {
			max-width: 50px;
			border-bottom: 1px solid gray;
		}
	}
}
