@use "/src/styles/vars";

.userPreview {
	width: 100%;
	background: vars.$accent-color;
	padding: 20px 24px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	gap: 12px;

	.userPreview__avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: #d6d6d6;
	}

	&__name {
		font-weight: 700;
		font-size: 12px;
	}
}
