@use "/src/shared/styles/vars";
@use "/src/shared/styles/mixins";

.sidebar {
	border-radius: 20px;
	position: sticky;
	top: 20px;
	background: vars.$accent-color;
	height: calc(100vh - 40px);
	width: 270px;

	&.closed {
		@include mixins.sidebar-closed;
	}

	&__expand {
		display: flex;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		padding: 20px 30px;
		border-bottom: 1px solid #d3d3d3;
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 24px;
	}

	&__nav {
		margin-top: 35px;
	}

	&__item {
		&--active {
			background: #dfe0e2;
			font-weight: 700;
			color: vars.$color-blue;
		}
	}

	&__link {
		padding: 15px 35px;
		display: flex;
		align-items: center;
		gap: 19px;
	}

	&__account {
		margin-top: 30px;
	}

	&__account-title {
		font-weight: 700;
		padding: 15px 35px;
	}

	@include mixins.md {
		@include mixins.sidebar-closed;
		.sidebar__expand {
			display: none;
		}
	}

	@include mixins.vsm {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		width: unset;
		height: unset;
		.sidebar__top {
			display: none;
		}

		.sidebar__nav {
			display: flex;
			margin-top: 0;
			justify-content: center;
		}
		.sidebar__list {
			display: flex;
		}

		.sidebar__item a {
			padding: 20px;
		}
	}
}
