@use "./vars";
@use "./mixins";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	font-family: var(--font-family);
	color: var(--text-color);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	background: var(--bg-color);

	@include mixins.md {
		margin-bottom: 80px;
	}
}

a {
	color: inherit;
}

.css-196bwzp-MuiPaper-root-MuiCard-root {
	background: var(--bg-color) !important;
}

button:disabled,
input:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.button {
	border-radius: 40px;
	background: var(--color-blue);
	padding: 20px 0;
	transition: all 0.2s ease-in;
	width: 100%;
	font-size: 18px;
	margin-top: 24px;
	color: #fff;
	&:hover {
		opacity: 0.8;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select option {
	background: var(--bg-color);
}

.errorMessage {
	color: red;
	text-align: center;
	margin-top: 20px;
}

.css-1mvk69b-MuiSkeleton-root {
	-webkit-transform: unset !important;
}
