// MEDIA QUERIES

@mixin xl {
	@media (max-width: 1280px) {
		@content;
	}
}

@mixin lg {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin md {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin sm {
	@media (max-width: 640px) {
		@content;
	}
}

@mixin vsm {
	@media (max-width: 475px) {
		@content;
	}
}

// COMPONENTS

@mixin sidebar-closed {
	min-width: 90px;

	.sidebar__top {
		flex-direction: column;
		gap: 20px;
	}

	p {
		display: none;
	}

	.sidebar__account {
		margin-top: 0;
	}
}
