:root {
	// FONTS
	--font-family: "Roboto", sans-serif;
	--font-size: 12px;
	--font-weight: 400;

	// COLORS
	--bg-color: #fff;
	--accent-color: #f7f7f7;
	--red-color: #f80d38;
	--text-color: #343434;
	--color-blue: #100db1;
}

html[data-dark] {
	--bg-color: #050517;
	--accent-color: #0c0c35;
	--text-color: #fff;
}
