.calendar__day-button {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start !important;
	padding: 10px;
	height: 110px;
	width: 100%;
	overflow-y: auto;
}

.calendar__task {
	position: relative;
	z-index: 10;
	padding: 10px 20px;
	border-radius: 20px;
	margin-top: 5px;

	width: 100%;
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;

	line-height: 1.3;
	max-height: calc(1.3em * 3);

	word-break: break-word;

	&--completed {
		opacity: 0.5;
	}

	span {
		  mix-blend-mode: difference;
  color: white;
	}
}
