.logoutPage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: calc(100vh - 180px);

    &__icon {
        width: 88px;
    }

    &__form {
        max-width: 450px;
        width: 100%;
    }

    &__input {
        width: 100%;
    }
}
