.taskModal {
	&__title {
		font-size: 28px;
		font-weight: bold;
	}



	&__text {
		margin-top: 20px;
		font-size: 18px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__button {
		&--submit {
			background: #72ff47;
		}
		&--edit {
			background: #9eaf07;
		}
	}
}
