@use "../../shared/styles/mixins";
.authForm {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 15px;
		border: 1px solid #3d3d3d;
		max-width: 560px;
		margin: 0 auto;
		padding: 50px;
		width: 560px;

        @include mixins.sm {
            width: 100%;
        }
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		margin-top: 30px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100%;
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__forgot {
		font-size: 12px;
		text-decoration: underline !important;
	}

	&__terms {
		font-size: 12px;
	}

	&__submit {
		border-radius: 40px;
		background: var(--color-blue);
        padding: 20px 0;
transition: all 0.2s ease-in;

        &:hover {opacity: 0.8;}
    }

    &__change {
     margin-top: 38px;
     font-size: 12px;
     
     a {
        text-decoration: underline;
        color: var(--color-blue);
     }
    }
}
