@use "../../shared/styles/mixins";

.resetPasswordPage {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 15px;
		border: 1px solid #3d3d3d;
		max-width: 560px;
		margin: 0 auto;
		padding: 50px;
		width: 560px;

		@include mixins.sm {
			width: 100%;
		}
	}

	&__title {
		font-size: 28px;
		font-weight: bold;
	}
}
