@use "/src/shared/styles/mixins";

.waterAnalytics {
	margin-top: 50px;

	&__list {
		display: flex;
		align-items: stretch;
		margin-top: 10px;
		gap: 20px;

		.analyticGridDiagram {
			flex: 66%;
		}

		.analyticRoundDiagram {
			flex: 33%;
		}

		@include mixins.xl {
			flex-direction: column;
		}
	}
}
