.calendar {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;

	&__tr {
		&-col {
			font-size: 10px;
			font-weight: 400;
			padding: 20px 0;
			border: 1px solid #e7e7e7;
			flex: 1;

			&:first-child {
				border-radius: 15px 0 0 0;
			}

			&:last-child {
				border-radius: 0 15px 0 0;
			}
		}
	}

	&__day {
		height: 110px;
		text-align: right;
		vertical-align: baseline;
		background: var(--accent-color);
		border: 1px solid #e7e7e7;

		button {
			padding: 15px 30px;
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
	}
}
